body{
}

.card{
    height:300px;
    width:300px;
    background-color:"#fff";
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
    position:"relative";
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
}

.card:hover{
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
}

.card .front{
    left:0;
}

.flashcard-options{
    margin-top: .5rem;
}

.flashcard-option{
    font-size: .75rem;
    color:#555;
}

.flashcard-option:first-child{
    margin-top: 0;
}

.card.flip{
    --rotate-y:180deg;
}

.card .front,
.card .back{
    position:absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back{
    transform: rotateY(180deg);
}